/*-------------------- THEME STYLE START --------------------*/
html {
	position:relative;
	margin:0;
	padding:0;
	height:100%;
	overflow: hidden;
}
body {
	font-weight:400;
	font-size:13px;
	line-height:1.6em;
	letter-spacing:-0.05em;
	position:relative;
	margin:0;
	padding:0;
	height:100%;
	overflow: hidden;
	color:#666666;
}

section > header 
{
	color:#333;
	-webkit-box-shadow:0px 1px 6px #aaa;
	-moz-box-shadow:0px 1px 6px #aaa;
	box-shadow:0px 1px 6px #aaa;
	z-index:1000;
	background-color:rgba(255,255,255,0.96);
}
section > footer {
	background-color:#eaeaea;
	-webkit-box-shadow: 0 2px 0 #d6d6d6;
	-moz-box-shadow: 0 2px 0 #d6d6d6;
	box-shadow: 0 2px 0 #d6d6d6;
}
section nav.groupbar {
	background-color:#eaeaea;
	border-bottom:2px solid #d6d6d6;
}
section > article,section > [data-control="pull"] {
	background-color:#f4f5f5;
}
/* -------------------------- NAVIGATION --------------------------*/
section > header > nav a {
	color:#ffffff;
}
section > header > nav.box:not(.right) a {
	color:#cccccc;
}
section > header > nav.box.right a {
	color:#cccccc;
}
section > header > nav.box a:active {
	background:#f1f1f1;
	color:#cccccc;
}
section > nav.groupbar > a.active {

}
section > nav.groupbar > a {
	color:#595959;
}
section > footer > nav > a {
	color:#868686;
}
section > footer > nav > a.active, nav.groupbar > a.active {
	background:#e0e0e0;
	color:#007db5;
}
section > footer > nav > a {
	-webkit-box-shadow:1px 0 0 #e1e1e1;
	-moz-box-shadow:1px 0 0 #e1e1e1;
	box-shadow:1px 0 0 #e1e1e1;
}
section > footer > nav > a.active {
	color:#007db5;
	background-color:#e0e0e0;
	border-bottom:3px solid #0093d5;
}
section > nav > a.active {
	color:#fff;
	border-bottom:2px solid #0093d5;
}
/* -------------------------- LISTS --------------------------*/
section .list li {
	background:#fff;
}
section .list li:not(.anchor) {
	border-bottom:inset 1px #ebebeb;
}
section .list li.secondary {
	-webkit-box-shadow:inset 4px 0px 0px #bfbfbf;
	-moz-box-shadow:inset 4px 0px 0px #bfbfbf;
	box-shadow:inset 4px 0px 0px #bfbfbf;
}
section .list li.accept {
	-webkit-box-shadow:inset 4px 0px 0px #3fb58e;
	-moz-box-shadow:inset 4px 0px 0px #3fb58e;
	box-shadow:inset 4px 0px 0px #3fb58e;
}
section .list li.cancel {
	-webkit-box-shadow:inset 4px 0px 0px #ee6557;
	-moz-box-shadow:inset 4px 0px 0px #ee6557;
	box-shadow:inset 4px 0px 0px #ee6557;
}
section .list li,section .list li a 
{
	color:#333;
}
section .list li.anchor,section .list li a.anchor {
	background:#f0f0f0;
}
section .list li.dark,section .list li a.dark {
	background:#595959;
}
section .list li.gray,section .list li a.gray {
	background:#f0f0f0;
}
section .list li.blue,section .list li a.blue {
	background:#007db5;
	color:#fff;
}
section .list li.selectable:active,section .list li a.selectable:active,section .list li.theme,section .list li a.theme,section .list li.active,section .list li a.active {
	background:#03b1ff;
}
section .list li.light,section .list li a.light {
	background:#ebebeb;
	color:#7a7a7a;
}
section .list li.dark,section .list li a.dark,section .list li.selectable:active,section .list li a.selectable:active,section .list li.theme,section .list li a.theme,section .list li a.anchor,section .list li.dark small,section .list li a.dark small,section .list li.selectable:active small,section .list li a.selectable:active small,section .list li.theme small,section .list li a.theme small,section .list li.anchor small,section .list li a.anchor small,section .list li.dark .right:not(.tag),section .list li a.dark .right:not(.tag),section .list li.selectable:active .right:not(.tag),section .list li a.selectable:active .right:not(.tag),section .list li.theme .right:not(.tag),section .list li a.theme .right:not(.tag),section .list li.anchor .right:not(.tag),section .list li a.anchor .right:not(.tag) {
	color:#ffffff;
	background-color:#007db5;
}
section .list li.anchor {
	color:#007db5;
}
section .list li small,section .list li a small,section .list li .right:not(.tag),section .list li a .right:not(.tag) {
	color:#9a9a9a;
}
section .list li:active, section .list li:active *{
	color:#ffffff;
	background-color:#007db5;
}
.list:not(.indented) li.dark,.list:not(.indented) li.theme,.list:not(.indented) li.light {
	border-bottom-color:rgba(0,0,0,0.1);
}
/* -------------------------- TAG --------------------------*/
.tag {
	color:#007db5;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	font-weight:700 !important;
}
.tag.count {
	background-color:#0093d5;
}
.tag header .count {
	background-color:THEME-dark !important;
}
footer .tag {
	-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.5);
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.5);
}

section.show .loading,section.active .loading,.notification .loading{-webkit-animation:rotatingLoader .5s infinite linear;moz-animation:rotatingLoader .5s infinite linear}
/* -------------------------- BUTTONS --------------------------*/
a.button,button {
	-webkit-border-radius:FORM-border-radius;
	-moz-border-radius:FORM-border-radius;
	border-radius:FORM-border-radius;
	color:#333;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background: #f7f7f7;
	border:solid 1px rgba(0,0,0,0.18);
	color:#333 !important;
}
a.button:active,button:active {
	background: #efefef;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 2px 2px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 2px 2px rgba(0, 0, 0, 0.20);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 2px 2px rgba(0, 0, 0, 0.20);
}
button,.button,.tag {
	background-color:#f7f7f7;
}
a.button.secondary,button.secondary {
	background: #efefef;
}
a.button.secondary:active,button.secondary:active {
	background: #e6e6e6;
	color:#666 !important;
}
button.accept,.button.accept,.tag.accept {
	background: #325B81;
	color:#fff !important;
}
button.accept:active,.button.accept:active,.tag.accept:active {
	background: #325B81;
}
button.cancel,.button.cancel,.tag.cancel {
	background-color:#DD5441;
	color:#fff !important;
}
button.cancel:active,.button.cancel:active,.tag.cancel:active {
	background-color:#CC392B;
}
a.button[disabled],button[disabled] {
	background-color:#ccc;
	color:#666 !important;
}
/* -------------------------- BUTTONS，FORM ELEMENTS --------------------------*/
form label,.form label {
	color:#aaa;
	font-weight:300;
}
form fieldset,.form fieldset {
	background:#fff;
	border-bottom:solid 1px #eee;
}
form fieldset .icon,.form fieldset .icon {
	color:#ccc;
}
form input[type="text"],.form input[type="text"],form input[type="password"],.form input[type="password"],form input[type="date"],.form input[type="date"],form input[type="datetime"],.form input[type="datetime"],form input[type="email"],.form input[type="email"],form input[type="number"],.form input[type="number"],form input[type="search"],.form input[type="search"],form input[type="tel"],.form input[type="tel"],form input[type="time"],.form input[type="time"],form input[type="url"],.form input[type="url"],form select,.form select,form textarea,.form textarea,form input[type="month"],.form input[type="month"]{
	background-color:#fff;
	color:rgba(0,0,0,0.75);
	border:1px solid #ddd;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
form input[type="text"].error,.form input[type="text"].error,form input[type="password"].error,.form input[type="password"].error,form input[type="date"].error,.form input[type="date"].error,form input[type="datetime"].error,.form input[type="datetime"].error,form input[type="email"].error,.form input[type="email"].error,form input[type="number"].error,.form input[type="number"].error,form input[type="search"].error,.form input[type="search"].error,form input[type="tel"].error,.form input[type="tel"].error,form input[type="time"].error,.form input[type="time"].error,form input[type="url"].error,.form input[type="url"].error,form select.error,.form select.error,form textarea.error,.form textarea.error,form input[type="text"]:required,.form input[type="text"]:required,form input[type="password"]:required,.form input[type="password"]:required,form input[type="date"]:required,.form input[type="date"]:required,form input[type="datetime"]:required,.form input[type="datetime"]:required,form input[type="email"]:required,.form input[type="email"]:required,form input[type="number"]:required,.form input[type="number"]:required,form input[type="search"]:required,.form input[type="search"]:required,form input[type="tel"]:required,.form input[type="tel"]:required,form input[type="time"]:required,.form input[type="time"]:required,form input[type="url"]:required,.form input[type="url"]:required,form select:required,.form select:required,form textarea:required,.form textarea:required {
	border-color:color_alert;
	color:color_alert;
	background-color:rgba(198,15,19,0.1);
}
form input[type="text"]:focus,.form input[type="text"]:focus,form input[type="password"]:focus,.form input[type="password"]:focus,form input[type="date"]:focus,.form input[type="date"]:focus,form input[type="datetime"]:focus,.form input[type="datetime"]:focus,form input[type="email"]:focus,.form input[type="email"]:focus,form input[type="number"]:focus,.form input[type="number"]:focus,form input[type="search"]:focus,.form input[type="search"]:focus,form input[type="tel"]:focus,.form input[type="tel"]:focus,form input[type="time"]:focus,.form input[type="time"]:focus,form input[type="url"]:focus,.form input[type="url"]:focus,form select:focus,.form select:focus,form textarea:focus,.form textarea:focus {
	background:#fafafa;
	border-color:#0093d5;
	color:rgba(0,0,0,0.75);
}
form input[type="text"][disabled],.form input[type="text"][disabled],form input[type="password"][disabled],.form input[type="password"][disabled],form input[type="date"][disabled],.form input[type="date"][disabled],form input[type="datetime"][disabled],.form input[type="datetime"][disabled],form input[type="email"][disabled],.form input[type="email"][disabled],form input[type="number"][disabled],.form input[type="number"][disabled],form input[type="search"][disabled],.form input[type="search"][disabled],form input[type="tel"][disabled],.form input[type="tel"][disabled],form input[type="time"][disabled],.form input[type="time"][disabled],form input[type="url"][disabled],.form input[type="url"][disabled],form select[disabled],.form select[disabled],form textarea[disabled],.form textarea[disabled] {
	background:#eee;
	border-color:#aaa;
	color:#999;
}
form .select:after,.form .select:after {
	color:#d4d4d4;
	height:28px;
	margin:1px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
form fieldset .select select,.form fieldset .select select 
{
    -webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
    -webkit-border-radius:none;
	-moz-border-radius:none;
	border-radius:none;
    border:none;
}
form input[type=range],.form input[type=range] {
	-webkit-box-shadow:'inset 0 1px 2px rgba(0,0,0,0.1)';
	-moz-box-shadow:'inset 0 1px 2px rgba(0,0,0,0.1)';
	box-shadow:'inset 0 1px 2px rgba(0,0,0,0.1)';
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
form input[type=range]:not(.checkbox),.form input[type=range]:not(.checkbox) {
	background-color:#ddd;
}
form input[type=range]:not(.checkbox):active,.form input[type=range]:not(.checkbox):active {
	background-color:#03b1ff;
}
form input[type=range].checkbox,.form input[type=range].checkbox {
	background-color:#007db5;
	color:#fff;
}

form input[type=range].checkbox.active,.form input[type=range].checkbox.active {
	background-color:#007db5;
	color:#666;
}

form input[type=range].checkbox.active,.form input[type=range].checkbox.active {
	background-color:#eee;
}
form input[type=range]::-webkit-slider-thumb,.form input[type=range]::-webkit-slider-thumb {
	-webkit-border-radius:FORM-border-radius;
	-moz-border-radius:FORM-border-radius;
	border-radius:FORM-border-radius;
	-webkit-box-shadow:inset 0 0 1px #bbb;
	-moz-box-shadow:inset 0 0 1px #bbb;
	box-shadow:inset 0 0 1px #bbb;
	background:#e0e0e0;
}
form input[type=range]::-webkit-slider-thumb::after,.form input[type=range]::-webkit-slider-thumb::after {

}
form .progress .bar,.form .progress .bar {
	background-color:#ddd;
}
form .progress .bar .value,.form .progress .bar .value {
	background-color:#03b1ff;
}
/*-------------------- THEME STYLE END --------------------*/


/*---------------------EXTEND STYLE START---------------------*/

.large-radius
{
    -webkit-border-radius:255 !important;
	-moz-border-radius:255 !important;
	border-radius:255 !important;
    height: 50px;
    font-size: 1.5em;
}

/*圆角的search*/
form fieldset[class="radiu-search"] input[type="search"]
{
    -webkit-box-shadow:inset 0px 1px 1px rgba(211,211,211,.5);
    -moz-box-shadow:inset 0px 1px 1px rgba(211,211,211,.5);
    box-shadow:inset 0px 1px 1px rgba(211,211,211,.5);
    border:1px solid #e0e0e0;
    -webkit-border-radius:255px;
	-moz-border-radius:255px;
	border-radius:255px;
    padding:0px 5px 0px 10px;
    
}
form fieldset.radiu-search span
{
    right:15px;
}
/*placeholder color*/
input::-webkit-input-placeholder {
    color:#e0e0e0;
    font-size:.9em;
    vertical-align:middle;
    line-height:24px;
}
input:-moz-placeholder {
    color:#e0e0e0;
    line-height:24px;
    vertical-align:middle;
    font-size:.9em;
}
input[type=checkbox],input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    margin: 2;
    cursor: pointer;
    vertical-align: bottom;
    background: #fafafa;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
input[type=checkbox]:active,input[type=radio]:active {
    border-color: #c6c6c6;
    background: #ebebeb;
}
input[type=checkbox]:hover {
    border-color: #c6c6c6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
input[type=radio] {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    width: 22px;
    height: 22px;
}
input[type=checkbox]:checked,input[type=radio]:checked {
    background: #fafafa;
}
input[type=radio]:checked::after {
    content: '';
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #007db5;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
input[type=checkbox]:checked::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAARCAYAAAAyhueAAAAABHNCSVQICAgIfAhkiAAAAAFzUkdCAK7OHOkAAAAEZ0FNQQAAsY8L/GEFAAAACXBIWXMAAAsRAAALEQF/ZF+RAAAAFnRFWHRDcmVhdGlvbiBUaW1lADAxLzA3LzEzpW+0lgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAADYSURBVDhPrZNREYQwDEQr4SSchJOCBCScATycBCTwwz8SkHAScNDLUtIJoWmB3kcG2mnfbDZb5713teW68UE1U3mq5d9AQOtUKoUB2I2f20oN4Awrb0EtIPZroMPWKre80PrJA7+slC73CeBLJsjRgZZqonqXopUAQmmj7wHKLeDbW2AD2KbOa+gKZsOjR8eW1+iYAgwFeB1hkmmg2VGcfgashwKFU9H7QovSb/zHDnLgXaS2JGgQr7/aa9PTQxxCxDQY4d5l8bRSYYUEXwJmn6mw4rRCFvUDufKn03HAnN8AAAAASUVORK5CYII=);
    display: block;
    position: absolute;
    top: -1px;
    left: 3px;
}
input[type=checkbox]:checked:disabled::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAARCAYAAAAyhueAAAAABHNCSVQICAgIfAhkiAAAAAFzUkdCAK7OHOkAAAAEZ0FNQQAAsY8L/GEFAAAACXBIWXMAAAsRAAALEQF/ZF+RAAAAFnRFWHRDcmVhdGlvbiBUaW1lADAxLzA3LzEzpW+0lgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAADUSURBVDhPrZNdEYQwDIQr4SSchJOCBCScFCTw0nckIAEJJwEHvWyHMG2mW37Kww4DbT82ydaFEFyrvPcv0SIKovVpIKBtLo3DCBQNt50S4IJW3oIyIL63QKetVC15lfe3DvyyUzk8FoCfNEFONvSiWfQ9ilYBCKedPQeoloDnyMAE2Jf2W2gEa8P1AAEOzACgtkcA43bESZJ1WtE+/Qq49MP5qPf79Ak47XdWQQ2cRWpLggXp+8/2mvbULhAwwp1l8bTTZNrIbnpbTgOr1zRxfAkI6B+IjAiZCA9/vQAAAABJRU5ErkJggg==);
    display: block;
    position: absolute;
    top: -1px;
    left: 3px;
}
input[type=checkbox]:focus {
    outline: none;
    border-color:#4d90fe;
}
input[type=checkbox]:disabled,input[type=radio]:disabled {
    background: #d9d9d9;
}
input[type=radio]:checked:disabled::after {
    content: '';
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #a5a5a5;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}


/*selectlist*/
.selectlist li{list-style-type:none;font-size:1.05em;padding:18px 10px 18px 10px;position:relative; vertical-align:middle;}
.selectlist li,.selectlist li a,.selectlist li small,.selectlist li .right{font-weight:300; }
.selectlist li.arrow::after{position:absolute;right:10px;top:40%;width:12px;height:6px;content:'';border-right:3px solid #1BA0E1;border-top:3px solid #1BA0E1;-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);transform:rotate(120deg)}
/*position:absolute;right:10px;top:40%;width:6px;height:6px;content:'';border-right:3px solid #d0d0d8;border-top:3px solid #d0d0d8;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}*/
.selectlist li a{display:block}
.selectlist li > .icon,.selectlist li > img{float:left;width:32px;height:32px;margin-right:8px;font-size:2.6em;line-height:1em;text-align:center}
.selectlist li.thumb img,.selectlist li.thumb .icon{margin:-10px 10px -10px 0px;height:53px !important;width:53px !important;font-size:3.6em}
.selectlist li.anchor{padding:2px 10px;}
.selectlist li.anchor .tag{display:none}
.selectlist li strong{position:relative;font-size:1.05em;font-weight:400; }
.selectlist li small{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.selectlist li small + .right{margin-top:-12px}
.selectlist li small,.selectlist li.anchor,.selectlist li .right:not(.tag){font-size:.9em}
.selectlist .loading .right{font-size:1em}
.selectlist .right .icon,.selectlist small .icon{height:13px !important;width:13px !important;margin-right:1px !important;font-size:1.2em !important;line-height:1.1em}
.selectlist.indented li{margin-bottom:10px}
section .selectlist li {background:#fff;}
section .selectlist li:not(.anchor) {border-bottom:inset 1px #ebebeb;}
section .selectlist li.secondary {-webkit-box-shadow:inset 4px 0px 0px #bfbfbf;-moz-box-shadow:inset 4px 0px 0px #bfbfbf;	box-shadow:inset 4px 0px 0px #bfbfbf;}
section .selectlist li.accept {	-webkit-box-shadow:inset 4px 0px 0px #3fb58e;	-moz-box-shadow:inset 4px 0px 0px #3fb58e;	box-shadow:inset 4px 0px 0px #3fb58e;}
section .selectlist li.cancel {	-webkit-box-shadow:inset 4px 0px 0px #ee6557;	-moz-box-shadow:inset 4px 0px 0px #ee6557;	box-shadow:inset 4px 0px 0px #ee6557;}
section .selectlist li,section .selectlist li a {	color:#333;}
section .selectlist li.anchor,section .selectlist li a.anchor {	background:#f0f0f0;}
section .selectlist li.dark,section .selectlist li a.dark {	background:#595959;}
section .selectlist li.gray,section .selectlist li a.gray {	background:#f0f0f0;}
section .selectlist li.blue,section .selectlist li a.blue {	background:#007db5;	color:#fff;}
section .selectlist li.selectable:active,section .selectlist li a.selectable:active,section .selectlist li.theme,section .selectlist li a.theme,section .selectlist li.active,section .selectlist li a.active {	background:#03b1ff;}
section .selectlist li.light,section .selectlist li a.light {	background:#ebebeb;	color:#7a7a7a;}
section .selectlist li.dark,section .selectlist li a.dark,section .selectlist li.selectable:active,section .selectlist li a.selectable:active,section .selectlist li.theme,section .selectlist li a.theme,section .selectlist li a.anchor,section .selectlist li.dark small,section .selectlist li a.dark small,section .selectlist li.selectable:active small,section .selectlist li a.selectable:active small,section .selectlist li.theme small,section .selectlist li a.theme small,section .selectlist li.anchor small,section .selectlist li a.anchor small,section .selectlist li.dark .right:not(.tag),section .selectlist li a.dark .right:not(.tag),section .selectlist li.selectable:active .right:not(.tag),section .selectlist li a.selectable:active .right:not(.tag),section .selectlist li.theme .right:not(.tag),section .selectlist li a.theme .right:not(.tag),section .selectlist li.anchor .right:not(.tag),section .selectlist li a.anchor .right:not(.tag) {	color:#ffffff;	background-color:#007db5;}
section .selectlist li.anchor {	color:#007db5;}
section .selectlist li small,section .selectlist li a small,section .selectlist li .right:not(.tag),section .selectlist li a .right:not(.tag) {	color:#9a9a9a;}
section .selectlist li:active, section .selectlist li:active *{	color:#ffffff;	background-color:#007db5;}
.selectlist:not(.indented) li.dark,.selectlist:not(.indented) li.theme,.selectlist:not(.indented) li.light {border-bottom-color:rgba(0,0,0,0.1);}



/* -------------------------- APP --------------------------*/
header .title.centered{ margin:0px; padding:0px; color:#fff; background-size:110px 44px; -webkit-background-size:110px 44px; -moz-background-size:110px 44px;background:url(../app/img/title_bg_640.png) no-repeat center 0px; font-size:1.2em; line-height:40px;}




/*#container */
/*{*/
    /*background:#fcfcfc;*/
/*}*/

#container > div
{
    margin:0px 10px 0px 10px;
   
    border-bottom:2px solid #f4f4f4;
}

#container:not(.line) > div:active
{
    background:#f4f4f4;
}


#container.search > div
{
    /*border-bottom:1px solid #e8e8e8;*/
    /*margin:0px 10px 0px 10px;*/
    /*padding:10px 0px 0 0px;*/
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
    overflow: hidden;
}

#container h2
{
    font-weight:bold;
    font-size:1.5em;    
    line-height:1.5em;
    letter-spacing:0.05px;
    padding: 15px 15px 8px 15px;
}
#container.search h2
{
    font-weight:normal;
    font-size:1.3em;    
    line-height:1.5em;
}

#container p.info
{   
    padding: 0 15px;
    color:#ccc;
    line-height:1.2em;
}

#newscontainer h2{
	padding: 3px;
}

#industrycontainer h2{
	padding: 3px;
}

#cloudcontainer	h2{
	padding: 3px;
}

#mobilecontainer h2{
	padding: 3px;
}

#sdcontainer h2{
	padding: 3px;
}

#newscontainer p.info{
	padding: 5px 0 8px 0;
}

#industrycontainer p.info{
	padding: 5px 0 8px 0;
}

#cloudcontainer p.info{
	padding: 5px 0 8px 0;
}

#mobilecontainer p.info{
	padding: 5px 0 8px 0;
}

#sdcontainer p.info{
	padding: 5px 0 8px 0;
}

#container p.info span
{   
    padding: 0px 3px 0px 1px;
}





#container img
{
    width:100%;
}

#content p
{
    margin-top:1em;
    text-indent:-20px;
}

.container 
{
    background:#fcfcfc;
}

.container > div
{
    margin:0px 10px 0px 10px;
    /*padding:14px 0px 20px 0px;*/
    border-bottom:2px solid #f4f4f4;
}

.container:not(.line) > div:active
{
    background:#f4f4f4;
}


.container.search > div
{
    border-bottom:1px solid #e8e8e8;
    margin:0px 10px 0px 10px;
    padding:10px 0px 0 0px;
}

.container h2
{
    font-weight:bold;
    font-size:1.5em;    
    line-height:1.5em;
    letter-spacing:0.05px;
}
.container.search h2
{
    font-weight:normal;
    font-size:1.3em;    
    line-height:1.5em;
}

.container p.info
{   
    padding:3px 0 5px 0;
    color:#ccc;
    line-height:1.2em;
}

.ptime{
	 line-height:1.6em;
}

.container p.info span
{   
    padding:3px;
}

.container img
{
    width:100%;
}

.content 
{
    word-wrap:break-word;
    letter-spacing:0.1px;
}




.content ul {
    margin-left: 20px;
}

.content ul li {
    margin-left:20px;
}


.content ol {
    margin-left:20px;
}

.content li {
    margin-left:20px;
}


#container > div > img[src]
{
    border:1px solid #e8e8e8;
}
.line 
{
    border-top:2px solid #bf2e22;
}
#container p.summary
{
    border:1px dotted e0e0e0;
    background-color:#f3f3f3;
    padding:10px;
    text-indent:2em;
    font-size:1.2em;
    color:#5b5b5b;
    line-height:1.5em;
}

#container div.content
{
    font-size:1.45em;
    line-height:1.6em;
}
#container div.content img
{
    margin:10px 0 10px 0;
}

#container div.content p
{
   text-indent:0;
   margin: auto;
   padding: 5px 5px 15px 5px;
}
#container div.content p[style]
{
   text-indent:0;
}

#container div.content p strong,#container div.content p b
{
    font-weight:bolder;
}

#container div.content p pre
{
    margin-left:20px;
}

#container form 
{
    margin:10px 10px 0px 10px;
}
#container form textarea
{
    height:80px;
    -webkit-box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	border-color:#ababab;
}

.toolbar 
{
    position:absolute;
    bottom:0%;
    width:100%;
    height:50px;
    line-height:50px;
	background-color:rgba(0,0,0,0.7);
	-webkit-transition-duration: .5s;
	z-index:2;
}

.toolbar > div.left
{
    float:left;
    width:20%;
    text-align:center;
}
.toolbar .right
{
    float:right;
    text-align:center;
    width:60%;
}
.toolbar .replyright
{
    float:left;
    width:80%;
	height:100%;
}
.toolbar .right input
{
    margin-top:10px;
    -webkit-box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	border-color:#ababab;
}

.toolbar .replyright input
{
    margin-top:9px;
    -webkit-box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	box-shadow:inset 0 2px 6px rgba(0,0,0,0.1);
	border-color:#ababab;
}

.toolbar a:active span
{
    background:rgba(0,0,0,.9);
}

.toolbar a span
{
    font-size:1.7em;
    color:#f1f1f1;
    
    width:50px;
    height:50px;
    display:inline-block;
    
    cursor:auto;
}

.toolbar.share
{
	bottom:-100%;
    height:130px;
    text-align:center;
}
.toolbar.share button
{
    width:90%;
}

.toolbar.showpage{bottom:-100%;}

/*评论*/
#container.remark > p
{
    height:30px;
    line-height:10px;
    vertical-align:middle;
    background:#f0f0f0;
    border-bottom:1px solid #d7d7d7;
    padding:10px;
    font-size:1.1em;
}
#container.remark div
{
    background:#fff;
    padding:0px 20px 10px 20px;
    border-bottom:1px solid #f3f3f3;
}
#container.remark > div > span
{
    color:#999;
    font-size:1em;
    line-height:30px;
}
#container.remark > div > p
{
    font-size:1.1em;
    line-height:1.5em;
}
.pullUp
{
    text-align:center;
    color:#666;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    display:none;
}
.pullDown
{
    text-align:center;
    color:#666;
    height:40px;
    line-height:40px;
    vertical-align:middle;
     display:none;
}
.ploading
{
    text-align:center;
}

/*左栏菜单*/
.menu{background:#333;}
.menu li{list-style-type:none;font-size:1.2em; height:44px; vertical-align:middle; padding-left:2em;}
.menu li a{display:block; color:#fff;}
.menu li.anchor{ height:9px; background:url(../app/img/left_bg.png) repeat-x #f00;background-size:100% 9px;}
.menu li {color:#fff;background:url(../app/img/left_menu.png) repeat-x #333;background-size:259px 44px;line-height:40px;}

.selmenu {color:#f00;background:url(../app/img/left_menu_click.png) repeat-x #333;background-size:259px 44px;line-height:40px;}

.menu li span {margin-right:.8em; color:#ccc;}
.menu li:active{background:url(../app/img/left_menu_click.png);background-size:259px 44px;}
.menu form{    background:url(../app/img/left_menu.png);    background-size:259px 44px;    padding:6px 10px 6px 10px;    height:44px;    line-height:44px;    vertical-align:middle;}
.menu input[type="search"]{	width:100%;    -webkit-border-radius:255px;	-moz-border-radius:255px;	border-radius:255px;	-webkit-box-shadow:inset 1px 1px 4px #666;	-moz-box-shadow:inset 1px 1px 4px #666;	box-shadow:inset 1px 1px 4px #666;	border:0px solid #fff;}
.menu form .icon{position:absolute;font-size:1.2em;line-height:30px; vertical-align:middle; right:18px;color:#e0e0e0;}


.searchoption{background:#fff;padding-top:5px}

.searchoption form{background-size:259px 44px;    padding:6px 10px 6px 10px;    height:44px;    line-height:44px;    vertical-align:middle;}
.searchoption input[type="search"]{	width:100%;    -webkit-border-radius:255px;	-moz-border-radius:255px;	border-radius:255px;	-webkit-box-shadow:inset 1px 1px 4px #666;	-moz-box-shadow:inset 1px 1px 4px #666;	box-shadow:inset 1px 1px 4px #e0e0e0;	border:0px solid #fff;}
.searchoption form .icon{position:absolute;font-size:1.2em;line-height:30px; vertical-align:middle; right:18px;color:#e0e0e0;}


.menu li.clicked{background:url(../app/img/left_menu_click.png);}

/*setting*/
.setting ul{ background:#fff; border:1px solid #ddd; margin:10px; -webkit-border-radius:8px; -moz-border-radius:4px;	border-radius:8px;}
.setting li{list-style-type:none;font-size:1.2em;padding:18px 10px 18px 10px;position:relative; vertical-align:middle;}
.setting li.arrow::after{position:absolute;right:15px; color:#ccc; top:35%;width:12px;height:6px;content:'\005a'; font-family:'lungojsicon';}
.setting li .right{color:#000;}
.setting li:not(.arrow) .right{ margin-right:0px; width:80px; text-align:right;}
.setting li a{display:block}
.setting li {border-bottom:inset 1px #ebebeb;}
.setting li:last-child {border-bottom:inset 0px #ebebeb;}
.setting li,section .setting li a {	color:#666;}

.remember {width:23px;height: 23px}

label {line-height:37px;verxx-align:middle;}


/*回复评论*/
#tails{ position:absolute;z-index:1000; background:#333; height:34px;width:100px; font-size:1.2em; text-align:center; line-height:34px; vertical-align:middle; color:#fff; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px;	border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; border-bottom-right-radius:4px; left:-100%; }/* -webkit-transition-duration: 1s;*/
#tails button{ -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; background: #333;margin:0px; padding:0px;border:none; font-weight:normal; color:#fff !important;-webkit-box-shadow:0px 0px 0px #aaa;box-shadow:0px 0px 0px #aaa;-moz-box-shadow:0px 0px 0px #aaa;}
#tails button:active{ }


#selFont 
{
	/*width: 50px;*/
    -webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
    -webkit-border-radius:none;
	-moz-border-radius:none;
	border-radius:none;
    border:none;
    font-size:1em;
    -webkit-appearance:none;
    -webkit-user-select:text;
    -webkit-font-smoothing:antialiased;
}

#version 
{
    width:100%; 
    height:100%; 
    background:url(../app/img/bg.png);
    text-align:center;
}
#version img
{
    margin-top:20%;
}
#version p
{
    padding-top:30px;
    font-size:1em;
}
#clearCache{width:70px;}

#loading{ position:absolute; bottom:-100%; z-index:1000; background:rgba(0,0,0,0.6); height:34px;width:100%; font-size:1.2em; text-align:center; line-height:34px; vertical-align:middle; color:#fff; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px;	border-top-left-radius:4px;-webkit-border-top-right-radius:4px; -moz-border-bottom-right-radius:4px; border-top-right-radius:4px; -webkit-transition-duration: 1s; }
#mask{z-index:1001; display:none; background:rgba(0,0,0,0.3); width:100%; height:100%; position:absolute;top:0px; left:0px;}

/**
 * 	横向scroller
 */
/**
//index 页面scroll样式
 */
.indexscroller {
	width:500%;
	height:100%;
	float:left;
	padding:0;
}

.indexscroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
.indexscroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	width:20%; height:100%;
}
/**
//show 页面scroll样式
 */
.showscroller {
	width:300%;
	height:100%;
	float:left;
	padding:0;
}

.showscroller ul {
	list-style:none;
	display:block;
	float:left;
	height:100%;
	padding:0;
	margin:0;
}
.showscroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	width:33.3%; height:100%;
}

.customer_FadeIn{
	-webkit-animation:customer_FadeIn 1s linear;
}
@-webkit-keyframes customer_FadeIn
{
    from {opacity:0} 
    to {opacity:1}
}

.customer_Fadeout{
	-webkit-animation:customer_FadeIn 1s 0.2s linear;
}
@-webkit-keyframes customer_Fadeout
{
    from {opacity:1} 
    to {opacity:0}
}

.showMain{
	position:absolute; opacity:0
}
.page-loading{
	width:100%; height:100%; position:absolute; z-index:10;
	opacity:1;
}

#container .andrid img{
	width:120px; height:90px;
	float:left;
	margin-top: 8px;
}
#container .andrid{
margin-top: 5px;
margin-bottom: 5px;
height:105px;
}
#container .andrid span{
	float:left;
	margin-left:5px;
}
#container .andrid h2{
	height: 75px;
	line-height: 28px;
	overflow:hidden;
}

/*login页面*/
.login_div{
    width: 25%;
    float: left;
}
li#login_li > a{
    color: #ffffff;
    text-align: center;
}
li#login_li{
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #cc0000;
}
li#login_li:active{
    z-index: 10000;
    background: green;
    -webkit-box-shadow: 2px 2px 2px #000 inset;
    -moz-box-shadow:2px 2px 2px #000 inset;
    box-shadow:2px 2px 2px #000 inset;
}
